/* for PrimeNg */

:host ::ng-deep .custom-dropdown .p-dropdown {
  width: 100%;
}

:host ::ng-deep .custom-dropdown .p-dropdown-label {
  padding: 0.5rem;
}

:host ::ng-deep .custom-dropdown .p-dropdown-trigger {
  padding: 0 0.5rem;
}

:host ::ng-deep .custom-dropdown .p-dropdown-panel .p-dropdown-items {
  padding: 0.5rem 0;
  margin: 0;

}

:host ::ng-deep .custom-dropdown .p-dropdown-panel .p-dropdown-item {
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}

/*  */
.main-linting-title {
  color: #021526;
  font-size: 2rem;
  font-weight: 500;
}

.radio-section {
  display: flex;
  align-items: center;
  gap: 32px;
}

.radio-section label {
  display: flex;
  align-items: center;
  gap: 7px;
}

.radio-section input {
  width: 14px;
  height: 14px;
}

/* location section */
.listing {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.location-item {
  display: flex;
  flex-direction: column;
}

.location-item label {
  margin-bottom: 0.5rem;
}

.location-item input,
.location-item textarea {
  width: 100%;
}

.location-item small {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.location-item small img {
  margin-right: 0.5rem;
}

.full-width {
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

/* textarea  */
textarea#description {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  font-size: 16px;
  line-height: 1.5;
  transition: border-color 0.3s ease-in-out;
  resize: none;
}

textarea#description:focus {
  outline: none;
  border-color: #007bff;
  background-color: #ffffff;
}

textarea#description::placeholder {
  color: #999;
}

/* image mask */

.image-mask {
  border-radius: 8px;
  border: 1px dashed #2D3648;
  height: 120px;
  background: #FFF;
  padding: 20px;
  position:relative;
}

input[type="file"] {
  display: none; /* Hide the default input */
}

.custom-file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.custom-upload-icon {
  font-size: 2em;
  color: #777;
}

.custom-file-label:hover {
  border-color: #aaa; /* Change border color on hover */
}

img#blah {
  width: 100px;
  height: 82px;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image covers the entire area */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bin-img{
  position: absolute;
  top: 60%;
  left: 55%;
}

/* agent */
.agent-item{
  width: 49%;
}



/* Default layout: 2 columns, 2 rows */
@media screen and (min-width: 768px) {
  .location {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

/* Responsive layout: 1 column, 4 rows */
@media screen and (max-width: 767px) {
  .location {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  .agent-item{
    width: 100%;
  }
}

/* Styles for inputs and selects */
.location input,
.location select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
