<app-header></app-header>

<div class="listing">
  <div class="row">
    <div class="my-5">
      <h2 class="text-center main-linting-title">ლისტინგის დამატება</h2>
    </div>
  </div>

  <form [formGroup]="listingForm" (ngSubmit)="onSubmit()">
    <h5>გარიგების ტიპი</h5>
    <div class="radio-section">
      <label *ngFor="let type of types">
        <input
          type="radio"
          formControlName="types"
          [value]="type"/>
        {{ type }}
      </label>
    </div>

    <!--  location property  -->
    <h5 class="my-5">მდებარეობა</h5>
    <div class="location" formGroupName="location">
      <div class="location-item">
        <label for="address">მისამართი *</label>
        <input
          pInputText
          id="address"
          aria-describedby="username-help"
          formControlName="address"
        />
        <small id="address-help">
          <img src="/assets/done.svg" alt="done">
          მინიმუმ ორი სიმბოლო
        </small>
      </div>
      <div class="location-item">
        <label for="zip">საფოსტო ინდექსი *</label>
        <input
          type="number"
          pInputText
          id="zip"
          aria-describedby="zip-help"
          formControlName="zip"
        />
        <small id="zip-help">
          <img src="/assets/done.svg" alt="done">
          მხოლოდ რიცხვები
        </small>
      </div>
      <div class="location-item">
        <label for="city" class="mb-1">რაიონი *</label>
        <p-dropdown
          id="city"
          [options]="regions"
          optionLabel="name"
          placeholder="აირჩიეთ რაიონი"
          [style]="{'width':'100%'}"
          styleClass="custom-dropdown"
          formControlName="region"
          (onChange)="changeCities()"
        ></p-dropdown>
      </div>

      <div class="location-item" *ngIf="listingForm.get('location.region')?.valid">
        <label for="district" class="mb-1">ქალაქი *</label>
        <p-dropdown
          id="district"
          [options]="chosenCity"
          optionLabel="name"
          placeholder="აირჩიეთ ქალაქი"
          [style]="{'width':'100%'}"
          styleClass="custom-dropdown"
          formControlName="city"

        ></p-dropdown>
      </div>
    </div>

    <!--  apartment property  -->
    <h5 class="my-5">ბინის დეტალები</h5>
    <div class="location" formGroupName="details">
      <div class="location-item">
        <label for="price">ფასი</label>
        <input
          type="number"
          pInputText
          id="price"
          aria-describedby="price-help"
          formControlName="price"
        />
        <small id="price-help">
          <img src="/assets/done.svg" alt="done">
          მხოლოდ რიცხვები
        </small>
      </div>
      <div class="location-item">
        <label for="zip">ფართობი</label>
        <input
          type="number"
          pInputText
          id="area"
          aria-describedby="area-help"
          formControlName="area"
        />
        <small id="area-help">
          <img src="/assets/done.svg" alt="done">
          მხოლოდ რიცხვები
        </small>
      </div>
      <div class="location-item">
        <label for="zip">საძინებლების რაოდენობა *</label>
        <input
          type="number"
          pInputText
          id="bedroom"
          aria-describedby="bedroom-help"
          formControlName="bedroom"
        />
        <small id="bedroom-help">
          <img src="/assets/done.svg" alt="done">
          მხოლოდ რიცხვები
        </small>
      </div>


      <div class="location-item full-width">
        <label for="description">აღწერა *</label>
        <textarea
          pInputTextarea
          placeholder="შეიყვანეთ აღწერა"
          id="description"
          rows="5"
          aria-describedby="description-help"
          formControlName="description"
        ></textarea>

        <small id="description-help">
          <img src="/assets/done.svg" alt="done">
          მინიმუმ 5 სიტყვა
        </small>
      </div>

    </div>

    <button class="primary-button">Submit</button>
  </form>
</div>
