input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: rgba(69, 168, 73, 1); /* Change this to your desired color */
}

.filter-section{
  display:flex;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  background: transparent;
  padding: 6px;
  gap: 24px;
}

.first-filter{
  position:relative;
}

.regions {
  position:absolute;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  box-shadow: 5px 5px 12px 0px rgba(2, 21, 38, 0.08);
  top: 50px;
  left: 0;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}


.grid-list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  gap: 16px;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.grid-list li {
  width: fit-content;
  display:flex;
  align-items:center;
  gap: 10px;
  font-size: 1rem;
}

.choose-btn {
  align-self: flex-end;
}

@media (max-width: 768px) {
  .regions{
    width: 380px;
  }
  .grid-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(auto, auto));
  }
  .grid-list li {
    width: 100%;
    display:flex;
    gap: 3px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .regions{
    width: 200px;
  }
  .grid-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(auto, auto));
  }

  .choose-btn {
    align-self: center;
  }
}
