input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: rgba(69, 168, 73, 1); /* Change this to your desired color */
}

.main-section {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 30px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.little-filters{
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 30px;
}

.filter {
  position: relative;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  max-width: 785px;
  border: 1px solid #DBDBDB;
  background: transparent;
  padding: 6px;
  gap: 24px;
}

.filter-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 731px;
  padding: 24px;
  gap: 32px;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  box-shadow: 5px 5px 12px 0px rgba(2, 21, 38, 0.08);
}


.regions {
  position: absolute;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  box-shadow: 5px 5px 12px 0px rgba(2, 21, 38, 0.08);
  top: 50px;
  left: 0;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}


.grid-list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  gap: 16px 50px;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.grid-list li {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.primary-button {
  align-self: flex-end;
  font-size: 14px;
}

.filtered-category {
  /*display: grid;*/
  /*grid-template-columns: repeat(4, 1fr);*/
  /*gap: 1rem;*/
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap: 8px;
  width: fit-content;
}

.filtered-section {
  padding: 6px 10px;
  border: 1px solid #DBDBDB;
  border-radius: 43px;
  background: #FFF;
  width:fit-content;
}

.filtered-section img {
  cursor: pointer;
}

/* price section */

.price-details {
  width: 382px;
  padding: 24px;
  margin-left: 108px;
}

.price-details b {
  color: #021526;
  font-size: 14px;
}

.price-section {
  width: 100%;
  display: flex;
  gap: 24px;
}

.price-section li {
  cursor: pointer;
  margin-top: 8px;
  color: #2D3648;
  font-size: 14px;
  font-weight: 400;
}


.price-section input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #808A93;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
}

.price-error{
  width: 400px;
  position:absolute;
  bottom: -20px;
  left: 0px;
  color: #F93B1D;
  font-size: 12px;
  font-weight: 400;
}
.input-wrapper input[type="number"] {
  padding-right: 20px; /* Adjust to leave space for the plus sign */

}

.input-wrapper input[type="number"].error {
  border-radius: 6px;
  border: 1px solid #F93B1D;
}


.lari-sign {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #2D3648;
}

/* area details */

.area-details {
  width: 382px;
  padding: 24px;
  margin-left: 305px;
}


.min .active,
.max .active {
  color: green;
  font-weight: 500;
}
/* bedroom details */
.bedroom-details {
  width: 282px;
  padding: 24px;
  margin-left: 420px;
}

.bedroom-details input{
  width: 41px;
  padding: 10px;
  color: rgba(2, 21, 38, 0.40);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid #808A93;
}
/* For Chrome, Safari, Edge, Opera */
.bedroom-details input[type="number"]::-webkit-outer-spin-button,
.bedroom-details input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.bedroom-details input[type="number"] {
  -moz-appearance: textfield;
}
@media (max-width: 768px) {
  .main-section {
    flex-direction:column;
  }
  .regions {
    width: 380px;
  }

  .region-details {
    width: fit-content;
    margin-left: 0px;
  }
  .price-details {
    width: 300px;
    margin-left: 0px;
  }
  .area-details {
    width: 300px;
    margin-left: 0px;
  }
  .bedroom-details{
    width: 300px;
    margin-left: 0px;
  }

}

@media (max-width: 480px) {
  .regions {
    width: 200px;
  }

  .grid-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(auto, auto));
  }

  .choose-btn {
    align-self: center;
  }
  .region-details {
    width: 220px;
  }
  .price-details {
    width: 200px;
  }
  .area-details {
    width: 200px;
  }
  .bedroom-details{
    width: 200px;
  }
  .price-section {
    flex-direction:column;
  }
}
