input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: rgba(69, 168, 73, 1); /* Change this to your desired color */
}

.main-section {
  width: 90%;
  max-width: 1596px;
  margin: 0 auto;
  padding: 0 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.btn-sections .primary-button {
  padding: 10px 16px;
  font-size: 16px;
}

.btn-sections .secondary-button {
  padding: 10px 16px;
  font-size: 16px;
}

.little-filters {
  width: 90%;
  max-width: 1596px;
  margin: 0 auto;
  padding: 0 0px;
}

.filter {
  position: relative;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  max-width: 785px;
  border: 1px solid #DBDBDB;
  background: transparent;
  padding: 6px;
  gap: 24px;
}

.filter-button-2,
.filter-button-3,
.filter-button-4{
  margin-left: 18px;
}

.filter-button {
  padding: 8px 14px;
  color: #021526;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.filter-button img {
  margin-left: 4px;
}

.filter-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 731px;
  padding: 24px;
  gap: 32px;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  box-shadow: 5px 5px 12px 0px rgba(2, 21, 38, 0.08);
}


.regions {
  position: absolute;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  box-shadow: 5px 5px 12px 0px rgba(2, 21, 38, 0.08);
  top: 50px;
  left: 0;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}


.grid-list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  gap: 16px 50px;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.grid-list li {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.primary-button {
  align-self: flex-end;
  font-size: 14px;
}

.filtered-category {
  /*display: grid;*/
  /*grid-template-columns: repeat(4, 1fr);*/
  /*gap: 1rem;*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: fit-content;
}

.filtered-section {
  padding: 6px 10px;
  border: 1px solid #DBDBDB;
  border-radius: 43px;
  background: #FFF;
  width: fit-content;
}

.filtered-section img {
  cursor: pointer;
}

/* price section */

.price-details {
  width: 382px;
  padding: 24px;
  margin-left: 134px;
}

.price-details b {
  color: #021526;
  font-size: 14px;
}

.price-section {
  width: 100%;
  display: flex;
  gap: 24px;
}

.price-section li {
  cursor: pointer;
  margin-top: 8px;
  color: #2D3648;
  font-size: 14px;
  font-weight: 400;
}


.price-section input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #808A93;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
}

.price-error {
  width: 400px;
  position: absolute;
  bottom: -20px;
  left: 0px;
  color: #F93B1D;
  font-size: 12px;
  font-weight: 400;
}

.input-wrapper input[type="number"] {
  padding-right: 20px; /* Adjust to leave space for the plus sign */

}

.input-wrapper input[type="number"].error {
  border-radius: 6px;
  border: 1px solid #F93B1D;
}


.lari-sign {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #2D3648;
}

/* area details */

.area-details {
  width: 382px;
  padding: 24px;
  margin-left: 355px;
}


.min .active,
.max .active {
  color: green;
  font-weight: 500;
}

/* bedroom details */
.bedroom-details {
  width: 282px;
  padding: 24px;
  margin-left: 505px;
}

.bedroom-details input {
  width: 41px;
  padding: 10px;
  color: rgba(2, 21, 38, 0.40);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid #808A93;
}

/* card section */

section ul h2 {
  color: rgba(2, 21, 38, 0.80);
  font-size: 20px;
  font-weight: 400;
}

/* For Chrome, Safari, Edge, Opera */
.bedroom-details input[type="number"]::-webkit-outer-spin-button,
.bedroom-details input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.bedroom-details input[type="number"] {
  -moz-appearance: textfield;
}

/* estates */

.estates-section {
  width: 100%;
  max-width: 1596px;
  margin: 41px auto;
  padding: 0 0px;
}

.real-estate-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
  gap: 20px;
  padding: 0;
}

.grid-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1600px) {
  .real-estate-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1350px){
  .main-section{
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 1300px) {

  .real-estate-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter .filter-button:nth-child(2) ,
  .filter .filter-button:nth-child(3),
  .filter .filter-button:nth-child(4){
    margin-left: 3px;
  }
}

@media (max-width: 768px) {

  .main-section {
    flex-direction: column;
  }

  .regions {
    width: 380px;
  }



  .region-details {
    width: fit-content;
    margin-left: 0px;
  }

  .price-details {
    width: 300px;
    margin-left: 0px;
  }

  .area-details {
    width: 300px;
    margin-left: 0px;
  }

  .bedroom-details {
    width: 300px;
    margin-left: 0px;
  }

  .estates-section {
    width: 100%;
    max-width: 1596px;
    margin: 41px auto;
  }
  .real-estate-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .estates-section {
    width: 100%;
    max-width: 100%;
    margin: 41px auto;
    padding: 0 20px;
  }

}

@media (max-width: 480px) {
  .regions {
    width: 200px;
  }

  .grid-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(auto, auto));
  }

  .choose-btn {
    align-self: center;
  }

  .region-details {
    width: 220px;
  }

  .price-details {
    width: 200px;
  }

  .area-details {
    width: 200px;
  }

  .bedroom-details {
    width: 200px;
  }

  .price-section {
    flex-direction: column;
  }
}
